@model CharacterModel
@{
    string title = Model.Id.HasValue ? "Edit" : "New";
    ViewData["Title"] = title;
}

<style>
    button {
        margin-top: 2px;
        margin-bottom: 2px;
    }
</style>

<h1>Character</h1>

<div class="card">
    <h5 class="card-header">Identification</h5>
    <div class="card-body">
        <dl>
            <dt>Id</dt>
            <dd>@(Model.Id?.ToString() ?? "Not set")</dd>
        </dl>
    </div>
</div>
<div class="card">
    <h5 class="card-header">Abilities</h5>
    <div class="card-body row">
        <div class="col-7">
            @{
                var abilities = Enum.GetValues(typeof(cntm.AbilityEnum)).Cast<cntm.AbilityEnum>().Where(c => c != cntm.AbilityEnum.None)
                    .Select(c => new { value = c, text = c.ToString() });
                foreach (var ability in abilities)
                {
                    var abilityTitle = Model.Strength >= 1 ? $"Remove {ability}" : "Assign last random number";
                    var abilityValue = Model.GetType().GetProperty(ability.text).GetValue(Model);
                    var strModel = JsonConvert.SerializeObject(Model);
                    <form method="post" asp-action="SetAbility" asp-route-ability="@abilityValue"
                          enctype="text/plain" style="display: inline;">
                        <input type="hidden" name="model" asp-for="@strModel" />
                        <button type="submit" class="btn btn-primary" title="@abilityTitle">
                            @ability.text <span class="badge badge-light">@abilityValue</span>
                        </button>
                    </form>
                }
            }
        </div>
        <div class="col-5">
            <button class="btn btn-primary">Regenerate random</button>
            <button class="btn btn-primary">Regenerate random with cap</button>
            <h6>Random numbers</h6>
            <ol>
                @foreach (var randomNumber in Model.RandomNumber)
                {
                    <li>
                        @randomNumber
                    </li>
                }
            </ol>
        </div>
    </div>
</div>
